POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=memories

# Production
DATABASE_URL=postgresql://memories_owner:asdadssadas@ep-icy-wind-1231231-pooler.c-4.ap-southeast-1.aws.neon.tech/memories?sslmode=require
